<!DOCTYPE html>

<html lang="en">
    {% load static %}

    <head>
        {% include 'includes/common_head.html' %}
        <link rel="stylesheet" type="text/css" href="{% static 'thisapp/css/card_base.css' %}">
        {% block title %}{% endblock %}
        {% block style %}{% endblock %}
    </head>

    <body>
        <header>
            <form action="{% url 'logout' %}" method="get">
                <button class="transparent-button">Log out</button>
            </form>

            {% block header_title %}{% endblock %}

            
            <form action="{% url 'profile' %}" method="get">
                <button class="transparent-button">Profile</button>
            </form>
        </header>

        {% block content %}{% endblock %}

        <footer></footer>
    </body>

</html>