textarea {
    display: block;
}

.board-button {
    display: flex;
    border: none;
    font-size: 18px;
    padding: 10px 10px;
    margin: 20px;
    color: white;
    background-color: #251a0d;
}

.card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-title {
    text-align: center;
    resize: vertical;
    font-size: 30px;
    width: 700px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.card-content {
    resize: vertical;
    width: 700px;
    height: 350px;
    font-size: 20px;
}