<!DOCTYPE html>
<html lang="en">
    {% load static %}

<head>
    {% include 'includes/common_head.html' %}
    <title>Create new password</title>
    <link rel="stylesheet" type="text/css" href="{% static 'user/css/user.css' %}">
</head>

<body>
    <header>
        <h1>Create new password</h1>
    </header>

    <main>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-field">
                    {{ field }}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <p class="error-message">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endfor %}
            <button class="form-button">Save</button>
        </form>
    </main>

    <footer></footer>
</body>
</html>
