<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'includes/common_head.html' %}
    <title>Password change successful</title>
    <style>
        main {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
        form {
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
            padding: 0 10px;
            box-sizing: border-box;
        }
    </style>
</head>

<body>
    <header>
        <form action="{% url 'profile' %}" method="get">
            <button class="transparent-button">Profile</button>
        </form>
    </header>

    <main>
        <h1>The password has been successfully updated!</h1>
    </main>

    <footer></footer>
</body>
</html>