<!DOCTYPE html>
<html lang="en">
    {% load static %}

<head>
    {% include 'includes/common_head.html' %}
    <title>Success!</title>
    <link rel="stylesheet" type="text/css" href="{% static 'user/css/user.css' %}">
</head>

<body>
    <header>
        <form action="{% url 'login' %}" method="get">
            <button class="transparent-button">Log in</button>
        </form>
    </header>
    
    <main>
        {% load i18n %}
        <h1>Success!</h1>
        <p>{% translate "Your password has been set.  You may go ahead and log in now." %}</p>
    </main>

    <footer></footer>
</body>
</html>