{% extends 'auth/base.html' %}

{% block title %}
<title>Log in</title>
{% endblock %}

{% block content %}
<h1>Welcome back!</h1>
<form action="" method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="form-field">
            {{ field }}
            {% if field.errors %}
                {% for error in field.errors %}
                    <p class="error-message">{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>
    {% endfor %}
    
    {% for error in form.non_field_errors %}
        <p class="error-message">{{ error }}</p>
    {% endfor %}
    
    <p><a href="{% url 'password_reset' %}">Forgot your password?</a></p>
    <button class="form-button">Log in</button>
</form>
{% endblock %}