<!DOCTYPE html>
<html lang="en">
    {% load static %}

    <head>
        {% include 'includes/common_head.html' %}
        <link rel="stylesheet" type="text/css" href="{% static 'thisapp/css/index.css' %}">
        <title>KANBAN</title>
    </head>

    <body>
        <header>
            <form action="{% url 'signup' %}" method="get">
                <button class="transparent-button">Sign Up</button>
            </form>

            <h1>KANBAN</h1>

            <form action="{% url 'login' %}" method="get">
                <button class="transparent-button">Log in</button>
            </form>
        </header>

        <main>
            <img src="{% static 'thisapp/images/ninja.png' %}" alt="ninja programmer">
            <h2>A totally innovative service that allows you to organise your problem solving process.</h2>
            <p>Invite people to projects, organise discussions and solve problems together!</p>
        </main>

        <footer></footer>

    </body>

</html>