<!DOCTYPE html>
<html lang="en">
    
    <head>
        {% include 'includes/common_head.html' %}
        {% block title %}{% endblock %}
        <style>
            main {
                flex-direction: column;
                padding-left: 20px;
                padding-bottom: 20px;
            }
    
            .board-button {
                padding: 10px 10px;
                border-radius: 5px;
                color: white;
                font-size: 18px;
                background-color: #251a0d;
                border: none;
            }
    
            .line-block {
                display: flex;
                flex-direction: row;
                gap: 10px;
            }
        </style>
    </head>
    
    <body>
        <header>
            <h1>You`re {{ user.username }}</h1>
        </header>

        <main>
            {% if user.group.name == 'normal' %}
            <p><a href="{% url 'password_change' %}">Change password</a></p>
            {% endif %}

            {% if owner_boards %}
            <section>
                <h2>Your boards</h2>
                <div class="line-block">
                    {% for board in owner_boards %}
                    <form action="{% url 'board' board_id=board.id %}" method="get">
                        <button class="board-button">{{ board.title }}</button>
                    </form>
                    {% endfor %}
                </div>
            </section>
            {% endif %}

            <section>
                <h3>Create a new board</h3>
                <form method="post" action="{% url 'create_board' %}">
                    {% csrf_token %}
                    <div class="line-block">
                        {% for field in form %}
                            <p>
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field }}
                            </p>
                        {% endfor %}
                        <button class="transparent-button">Create</button>
                    </div>
                </form>
            </section>

            {% if invitations %}
            <section>
                <h2>Invitations</h2>
                {% for invitation in invitations %}
                <div class="line-block">
                    {{ invitation.user_sender.username }} invites you to "{{ invitation.board.title }}"
                    <form action="{% url 'pick_invitation' board_id=invitation.board_id %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="operation" value="reject">
                        <button class="transparent-button" type="submit">Reject</button>
                    </form>
                    <form action="{% url 'pick_invitation' board_id=invitation.board_id %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="operation" value="accept">
                        <button class="transparent-button" type="submit">Accept</button>
                    </form>
                </div>
                {% endfor %}
            </section>
            {% endif %}

            {% if invitation_boards %}
            <section>
                <h2>You're a member of</h2>
                <div class="line-block">
                    {% for board in invitation_boards %}
                    <form action="{% url 'board' board_id=board.id %}" method="get">
                        <button class="board-button">{{ board.title }}</button>
                    </form>
                    {% endfor %}
                </div>
            </section>
            {% endif %}

        </main>

        <footer></footer>
    </body>
</html>