<!DOCTYPE html>
<html lang="en">
    {% load static %}

    <head>
        {% include 'includes/common_head.html' %}
        <link rel="stylesheet" type="text/css" href="{% static 'thisapp/css/http_status_codes.css' %}">
        {% block title %}{% endblock %}
    </head>
    <body>
        <header>
            {% block header_title %}{% endblock %}
        </header>    

        <main>
            {% block content %}{% endblock %}
        </main>
        
        <footer></footer>
    </body>
</html>